<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeção Financeira</title>
</head>
<body>
    <title>Faça sua projeção de ganhos de forma rápida, fácil e intuitiva!</title>
    <main>
        <h1>Primeiro preencha algumas informações:</h1>
        <h2>Qual seu tipo de investimento?</h2>
        <a href="/debentures">Debêntures</a>
        <a href="/cdbcdi">CDB/CDI</a>
        <a href="/lcilca">LCI/LCA</a>
        <a href="/acoes">Ações</a>
    </main>
</body>
</html>