body {
    background-color: rgb(1 10 22);
}

.conteudoHome {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(1 12 26);
}

main {
    width: 130%;
    margin: 20px;
}

main h1 {
    color: blanchedalmond;
}

main p {
    color: #b97714;
}

.containerButton {
    display: flex;
    justify-content: center;
}

.containerButton button {
    border-radius: 5px;
    background-color: #010112;
    padding: 6px;
    color: blanchedalmond;
}

.animeContainer {
    background-color: rgb(1 12 26 / 96%);
    width: fit-content;
}

div svg {
    margin: 10px;
    margin-top: 45px;
}