header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 21vh;
}

header h1{
    color: #b97714;
}

.link{
    text-decoration: none;
    color: blanchedalmond;
}